@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
    font-family: 'passion one', sans-serif;
    font-weight: normal;
    min-height: 100%;
    font-size: 1.5em;
}

header{
    background-color: black;
    color:white;
    text-align: center;
    font-size: 1em;
    height: 100%;
}

header > h1{
    margin: auto;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 6.8em;
    width: 100%;
}

header > p{
    padding-bottom: 50px;
    max-width: 100vh;
}

header > nav.before{
    margin-left: 10px;
    padding-bottom: 5px;
    text-align: left;
}


section{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2.35em;
    line-height: 2em;
    padding-left: 30px;
    background-attachment: scroll;
    font-family: 'sriracha', sans-serif;
}

section.person{
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.274);
    color: rgb(255, 255, 255);
    background-attachment: fixed;
}

section.person > p{
    width: 70%;
    background-color: rgba(0, 0, 0, 0.411);
    background-size: cover;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: antiquewhite;
    padding: 10px;
    text-decoration: underline;
}

footer{
    height: 20px;
    padding: 5px;
    background-color: black;
    text-align: center;
    color: white;
}